@page
@model ChooseItemsModel
@{
    ViewData["Title"] = "Food Choices";
}
<h1>@ViewData["Title"]</h1>

<br>

<p>Food2U</p>

<form>
    <p>Please choose from the following list of food items</p>    

</form>