@page
@model DeliveryDriver
@{
    ViewData["Title"] = "Delivery Driver";
}


<style>
    body {
        background-color: #F7F7F7;
    }

    .cart-container {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        margin: 50px auto;
        max-width: 800px;
        padding: 20px;
    }

    .cart-item {
        border: 1px solid #CCCCCC;
        margin-bottom: 20px;
        padding: 20px;
    }

    .cart-item h5 {
        margin-bottom: 0;
    }

    .cart-item p {
        margin-top: 5px;
        margin-bottom: 10px;
</style>

<h3>Welcome Back @Model.Driver!.Name</h3>

<div class="container cart-container">
    <h3>My Orders</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Order Example 1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <b>Customer Name</b>
                        </div>
                        <div class="col-4">
                            <b>Price: 1.99</b>
                        </div>
                    </div>
                    <ul>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                    </ul>
                </div>
                <Button class="btn btn-danger w-100">Mark as Delivered</Button>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Order Example 2
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <b>Customer Name</b>
                        </div>
                        <div class="col-4">
                            <b>Price: 1.99</b>
                        </div>
                    </div>
                    <ul>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                    </ul>
                </div>
                <Button class="btn btn-danger w-100">Mark as Delivered</Button>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Order Example 3
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <b>Customer Name</b>
                        </div>
                        <div class="col-4">
                            <b>Price: 1.99</b>
                        </div>
                    </div>
                    <ul>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                    </ul>
                </div>
                <Button class="btn btn-danger w-100">Mark as Delivered</Button>
            </div>
        </div>
    </div>
</div>

<div class="container cart-container">
    <h3>Available orders</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Order Example 1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <b>Customer Name</b>
                        </div>
                        <div class="col-4">
                            <b>Price: 1.99</b>
                        </div>
                    </div>
                    <ul>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                        <li>Exampel Item</li>
                    </ul>
                </div>
                <Button class="btn btn-danger w-100">Grab Order</Button>
            </div>
        </div>  
    </div>
</div>