@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food2U</h1>
    <p>Please Login to your account!</p>
    @* Create Login Box *@
    @* button on-submit that then takes them to the local restaurant page *@

    <br>

    <form method="get">
        
        @if (Model.UserType == null)
        {
            <div class="form-group w-25 mx-auto">
                <select id="userTypeDropDown" asp-for="SelectedUserType" asp-items="IndexModel.userTypeOptions()" class="form-control">
                    <option value="">-- Select User Type --</option>
                </select>
            </div>

            <div class="form-group mt-3 text-center">
                <input asp-route-userType="@Model.SelectedUserType" type="submit" value="Continue" class="btn btn-secondary">
            </div>
        }

    </form>

    <form method="post">

        @if (Model.UserType != null) {
            <div class="form-group w-25 mx-auto">
                <select asp-for="SelectedUserID" id="userNameDropDown" asp-items="Model.displayedDropDown" class="form-control">
                    <option value="">-- Select Username --</option>
                </select>
            </div>

            <input type="hidden" asp-for="SelectedUserType"/>

            <div class="form-group mt-3 text-center">
            <input type="submit" value="Login" class="btn btn-secondary">
        </div>
        }

    </form>

</div>
