@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food2U</h1>
    <p>Please Login to your account!</p>
    @* Create Login Box *@
    @* button on-submit that then takes them to the local restaurant page *@

    <br>

    <p>
    <form method="/action_page.php">
        <label for="fname">Name:</label>
        <input type="text" id="fname" name="fname">

        <br><br>

        <a asp-page="LocalRestaurant">Submit</a>
        
        </form>
    </p>

</div>
