@page
@model LocalRestaurantModel
@{
    ViewData["Title"] = "Local Restaurant";
}
<h1>@ViewData["Title"]</h1>

<br>

<p>Hello, Welcome to Food2U</p>

@* HK *@
@* Removed static form for Restaurants, added form that pulls names & addresses from DB *@
<form method = "post">
    <p>Please choose from the following list of restaurants for food items</p>
    @foreach (var l in Model.LocalRestaurants)
    {
        <p>@Html.RadioButtonFor(model => model.LocalRestaurants, l.Name)@l.Name 
            - @Html.DisplayFor(modelLocalRestaurants => l.Address)</p> <br><br>
    }
    <input type="submit" value="Submit"; asp-page="/ChooseItems">
</form>
