@page
@model LocalRestaurantModel
@{
    ViewData["Title"] = "Local Restaurant";
}
<h1>Welcome Back @Model.UserRestaurant!.Name</h1>

<br>

<p>Edit and manage item listings</p>

<h1>Current Items</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in @Model.Items)
    {
        <div class="col">
            <div class="card text-center bg-light" style="width: 18rem;">
            <img class="card-img-top center-block" src="dish.png" alt="Card image cap" style="width: 150px; height: 150px;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Price</p>
            </div>
            <div class="card-footer bg-transparent">
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary">Edit Item</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        </div>
    }
</div>

