@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
  <body>  
    <p>The Food2U program respects your privacy and is committed to protecting your personal information. We understand that you may be concerned about how your personal information is collected, used, and shared, and we take your privacy seriously. This policy describes the types of personal information we may collect from you, how we use your personal information, and how we protect your personal information.</p>

    <h4>Collection of Personal Information</h4>
    <p>We may collect personal information such as your name, email address, phone number, and delivery address when you register for an account on our mobile app. We may also collect information about your orders and payment details.</p>

    <h4>Use of Personal Information</h4>
    <p>We use your personal information to process your orders, provide customer support, and improve our services. We may also use your personal information to send you marketing emails or promotions, but only with your consent.</p>

    <h4>Protection of Personal Information</h4>
    <p>We take the security of your personal information seriously and take reasonable measures to protect your personal information from unauthorized access or disclosure. We use secure servers and encryption to protect your personal information during transmission.</p>

    <h4>Disclosure of Personal Information</h4>
    <p>We do not disclose your personal information to third parties except for our delivery partners and payment processors, who require this information to process and deliver your orders.</p>

    <h4>Changes to Privacy Policy</h4>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our mobile app.</p>

    <h4>Contact Us</h4>
    <p>If you have any questions or concerns about our privacy policy or the handling of your personal information, please contact us at: contactus@Food2U.com.</p>
  </body>
</html>
